<html>
	<head>
		<!-- Link -->
		<%- include("partials/linkandscript") %>
		<link rel="stylesheet" href="/blogs/css/newblog.css" />
		<!-- End Link -->

		<!-- META -->
		<%- include("partials/meta") %>
		<meta
			property="og:image"
			content="https://i.postimg.cc/0yNRJwLx/Blog-Graph-Image-V2-png.jpg"
		/>
		<meta property="og:title" content="Edit Blog" />
		<!-- End META -->

		<title>New Blog by MULTIVERSE TV</title>
	</head>
	<body>
		<!-- Navbar -->
		<%- include("partials/navbar") %>
		<!-- End Navbar -->

		<div class="container my-5 black-card">
			<h1 style="font-family: montserrat; margin-bottom: 20px">New Blog</h1>
			<form
				action="/blogs/<%= category %>/<%= blog._id %>?_method=PUT"
				style="margin-bottom: 0"
				method="POST"
			>
				<div class="form-group">
					Title
					<input
						name="blog[title]"
						type="text"
						value="<%= blog.title %>"
						class="form-control"
						placeholder="Title"
					/>
				</div>
				<div class="form-group">
					Image
					<input
						name="blog[image]"
						type="text"
						value="<%= blog.image %>"
						class="form-control"
						placeholder="Image URL"
					/>
				</div>
				<div class="form-group">
					Content
					<textarea
						name="blog[body]"
						class="form-control"
						cols="30"
						rows="10"
						placeholder="Content"
					>
                    <%= blog.body %></textarea
					>
				</div>
				<div class="form-group">
					Tag
					<input
						name="blog[tag]"
						type="text"
						value="<%= blog.tag %>"
						class="form-control"
						placeholder="Tag"
					/>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</body>
	<%- include("partials/footerscript") %>
</html>
