<!DOCTYPE html>
<html>
	<head>
		<!-- META -->
		<%- include("partials/meta") %>
		<meta
			property="og:image"
			content="https://i.postimg.cc/d3MMYCb8/Video-Graph-Image-V2-png.jpg"
		/>
		<meta property="og:title" content="Video by MULTIVERSE TV" />
		<!-- End META -->

		<!-- Link -->
		<%- include("partials/linkandscript") %>
		<!-- End Link -->

		<title>Video by MULTIVERSE TV</title>
	</head>
	<body
		style="
			background-color: #292929;
			font-family: 'Montserrat', sans-serif;
			color: white;
		"
	>
		<!-- NoScript -->
		<%- include("partials/noscript") %>
		<!-- End No Script -->

		<!-- Navbar -->
		<%- include("partials/navbar") %>
		<!-- End Navbar -->

		<base href="" />
		<div class="container my-5">
			<table class="w-100" style="border-radius: 5px">
				<tr style="width: 100%">
					<td>
						<div class="jumbotron mb-0 py-4" style="background-color: #121212">
							<h1 class="display-5">Hello again!</h1>
							<p class="lead mb-0">
								Make sure to
								<span
									><strong
										><a
											target="_blank"
											rel="noopener noreferrer"
											href="https://www.youtube.com/tvmultiverse28?sub_confirmation=1"
											style="color: #c4302b"
											><u>SUBSCRIBE</u></a
										></strong
									></span
								>
								to our channel so you don't miss out on any of our content.
							</p>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="mt-4">
							<h3>Videos</h3>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div
							style="
								background: #121212;
								border-radius: 5px;
								padding: 2rem;
								padding-bottom: 10px;
							"
							class="mt-1"
						>
							<script
								src="https://assets.juicer.io/embed.js"
								type="text/javascript"
							></script>
							<link
								href="https://assets.juicer.io/embed.css"
								media="all"
								rel="stylesheet"
								type="text/css"
							/>
							<style>
								.juicer-feed.night
									li.feed-item.j-youtube
									.j-poster-meta
									.j-youtube {
									color: #ff0000;
									background-color: transparent;
								}
							</style>
							<ul
								class="juicer-feed"
								data-feed-id="uclnv7psf08pwk52yqexmjcg-24303298-6456-487b-be9a-f7a007f0c8c9"
							></ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<script src="/videos/scripts/videos.js"></script>
	</body>
	<%- include("partials/footerscript") %>
</html>
